<%= render "navbar" %>
<h1>Welcome to the Flats (<%= @flats.count %>)</h1>

<div class="cards">
    <% @flats.each do |flat| %>
        <div class="card">
            <%= link_to flat.name, flat, class: "list" %>
            <%= link_to flat.address, flat, class: "address" %>
          <div>
            <span><%= link_to flat.price_per_night, flat, class: "price-per-night" %>$</span>
            <span><%= link_to flat.number_of_guests, flat, class: "n-guests" %></span>
          </div>
          <div class="more-info">
              <p>More Info</p>
          </div>
        </div>
    <% end %>
</div>



  <div id="image">
     Rooms
  </div>
