<%= render "navbar" %>
<h1>New Flat</h1>

<%= form_with model: @flat do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
    <%= form.label :price_per_night %><br>
    <%= form.text_field :price_per_night %>
    <%= form.label :number_of_guests %><br>
    <%= form.text_field :number_of_guests %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
